/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* UTILITIES */
:root {
    --header-bg: #255EE9
}

:root {
    --dark-button-bg: #23272A
}

:root {
    --gray-bg: #F6F6F6
}

:root {
    --colored-button-bg: #7289DA
}

.align-center {
    align-items: center;
}

.text-small {
    font-size: 0.8rem;
}

.text-regular {
    font-size: 1rem;
}

.text-large {
    font-size: 2rem;
}

/* COMMON */
/* Layout */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-small {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

.button {
    border-radius: 20px;
    padding: 8px 15px;
}

.button-white {
    background-color: #ffffff;
    color: #000000;
}

.button-dark {
    background-color: var(--dark-button-bg);
    color: #ffffff;
}

.button-colored {
    background-color: var(--colored-button-bg);
    color: #ffffff;
}

/* Header */
.header {
    height: 60px;
    padding: 10px 0;
    background-color: var(--header-bg);
    color: #ffffff;
}

.header-nav,
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 0 35px;
}

.logo {
    margin-top: 5px;
}

/* Main */
.hero-section {
    padding: 100px 50px;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    color: #ffffff;
    text-align: center;
}

.hero-content,
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-content {
    flex-direction: column;
}

.hero-buttons {
    padding: 20px;
}

.white-section {
    background-color: #ffffff;
}

.gray-section {
    background-color: var(--gray-bg);
}

.cols {
    display: flex;
}

.col-40 {
    padding: 25px 10px;
    width: 40%;
}

.col-60 {
    width: 60%;
}

.p-padding {
    padding: 20px 0;
}

.one-col {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.one-col-bottom {
    display: flex;
}

/* Footer */
footer {
    padding: 20px 0;
    /* debug */
    background-color: #383838;
}

.col-40-footer {
    width: 40%;

    /* debug */
    min-height: 300px;
    background-color: #e38695;
}

.col-20 {
    width: 20%;

    /* debug */
    min-height: 300px;
    background-color: #0ad6cc;
}

.footer-bottom {
    margin-top: 20px;

    /* debug */
    background-color: #6bffe6;
}

.bottom-elements {
    height: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}