/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* UTILITIES */
:root {
    --header-bg: #255EE9
}

:root {
    --dark-button-bg: #23272A
}

:root {
    --gray-bg: #F6F6F6
}

:root {
    --colored-button-bg: #7289DA
}

:root {
    --footer-bg: #23272A
}

:root {
    --text-purple: #4468C4
}

.align-center {
    align-items: center;
}

.text-small {
    font-size: 0.8rem;
}

.text-regular {
    font-size: 1rem;
}

.text-medium {
    font-size: 1.3rem;
}

.text-large {
    font-size: 2rem;
}

.text-purple {
    color: var(--text-purple);
}

/* COMMON */
/* Layout */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-small {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

.button {
    border-radius: 20px;
    padding: 8px 15px;
}

.button-white {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
}

.button-dark {
    border: 1px solid var(--dark-button-bg);
    background-color: var(--dark-button-bg);
    color: #ffffff;
}

.button-colored {
    border: 1px solid var(--colored-button-bg);
    background-color: var(--colored-button-bg);
    color: #ffffff;
}

/* HEADER */
.header {
    height: 60px;
    padding: 10px 0;
    background-color: var(--header-bg);
    color: #ffffff;
}

.header-nav,
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 0 35px;
}

.logo {
    margin-top: 5px;
}

/* MAIN */
.hero-section {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

.hero-content,
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-content {
    flex-direction: column;
}

.hero-buttons {
    padding: 20px;
}

.white-section {
    background-color: #ffffff;
}

.gray-section {
    background-color: var(--gray-bg);
}

.cols {
    display: flex;
}

.col-40 {
    padding: 25px 10px;
    width: 40%;
}

.col-60 {
    width: 60%;
}

.p-padding {
    padding: 20px 0;
}

.one-col {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.block-text {
    margin-bottom: 20px;
    display: block;
}

/* FOOTER */
footer {
    padding: 20px 0;
    background-color: var(--footer-bg);
    color: #ffffff;
}

.title-footer {
    margin-bottom: 10px;
}

.flag {
    max-width: 4%;
}

.col-40-footer {
    width: 40%;
}

.icons {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.lista-footer {
    padding: 8px 0;
}

.col-15-footer {
    margin: 0 30px;
    width: 15%;
}

hr {
    border: 1px solid #455176;
    margin: 15px 0;
}

.bottom-elements {
    display: flex;
    justify-content: space-between;
}